.w {
    width: 1200px;
    margin: 0 auto;
}
.style_red {
    color: #C81523;
}
.logo {
    height: 79px;
    padding-top: 18px;
    border-bottom: 2px solid #C81523;
}
.registerarea {
    height: 540px;
    margin-top: 20px;
    /* background-color: pink; */
    border: 1px solid #CCCCCC;

}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #CCCCCC;
    line-height: 42px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ECECEC;
}
.login {
    float: right;
   font-size: 14px;
    
}
.reg_form {
    width: 600px;
    /* border: 1px solid #CCCCCC; */
    margin: 50px auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.safe {
    display: inline-block;
    padding-left: 170px;
}
.safe .weak {
    background-color: #DE1111;
  
}
.safe .middle {
    background-color: #40B83F;
}
.safe .strong {
    background-color: #F79100;
}
.weak,.middle,.strong {
    color: white;
    padding: 0 10px;
}
.inp {
    width: 242px;
    height: 37px;
    border: 1px solid #CCCCCC;
}
.reg_form .btn {
    width: 200px;
    height: 34px;
    background-color: #C81623;
    color: white;
    font-size: 14px;
    margin: 30px 0 0 70px;
} 
.reg_form .agree {
    padding-left: 95px;
}
.reg_form .agree input {
    vertical-align: middle;
}
.error {
    color: #C81523;
}
.error i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.success {
    color: #008000;
}
.success i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/success.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.mod_copyright {
    text-align: center;
    margin-top: 15px;
}
.mod_copyright .links {
    margin-bottom: 20px;
}

